.cusimg{
    width: 50px;
    margin: 0 0 4px 0;
}
.buttonmerge{
    display: block;
    font-weight: 500;
}

.buttonicon{
    width: 134px;
border: #ccc; 
background-color: #fff;
margin: 0;
outline-color: grey;
text-align: center;
position: relative;
top: -74px;
left: 88px;
font-size: 11px;
}
.buttonicon:hover{
    cursor: pointer;
}

