.sidebaricon{
  display: flex;
  flex-direction: column;
  li{
    text-align: center;
    padding: 10px 0; 
    color: #979797; 
    &.active{
      border-bottom: 1px solid #dbdbdb;
      color: #ff6700;
    }
    &:focus{
      outline: none
    }
  }
}