<header>
    <div class="header">
        <div class="backheaderbtn">
            <i class="icon icon-thumb"></i>
        </div>
        <div class="pagetitle">Workshop</div>
        <div class="btn btn--back">
               <span class="icon icon-disclosureleft"></span>
            </div>
        <ul class="breadcrum">
            <li>Hambrug</li>
            <li>Department 3</li>
        </ul>


        <div class="header--right">
          
          <ul class="useraction-link_a btn--back">
                <li ><i class="icon icon-delete"></i></li>

              <li class=""><i class="icon icon-search"></i></li>
          </ul>
          
          <ul class="useraction-link">
              <li><i class="icon icon-alert"></i></li> 
              <li><i class="icon icon-cart"></i></li>
              <li><i class="icon icon-help"></i></li>
              <li><i class="icon icon-user"></i></li>
              <li><img src="assets/images/Still-Logo.svg"></li>
          </ul>
        </div>
        

    </div>
</header>