header {
    background: #535353;
    padding: 0px;
    color: #fff;
    float: left;
    width:100%;
}

.backheaderbtn{
    background: #ff6700;
    background-image: url('../../../../assets/images/headerstrip1.png');
    width: 91px;
    display: inline-block; 
    height: 48px;
    background-repeat: no-repeat;
    background-position: 20px 0px;
    float: left;
    font-size: 25px;

    i{
        margin: 12px 10px;
    }
}

.pagetitle {
    float: left;
    background: #3e3e3e;
    padding: 15px 30px 15px 0px;
    width: 200px;
    background-image: url('../../../../assets/images/headerstrip2.png');
    background-repeat: no-repeat; 
    background-position: 170px 0;
}

ul.breadcrum {
    float: left;
    li{
        float: left;
        font-size: 14px;
        margin: 0px 11px 0 7px;
    
    }
}
img.gridicon{
  width:30px;
  height:30px;
  padding:10px;
  font-weight:1000;
}

.btn--back{
width: 45px;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    border-right: 1px solid #404040;
    text-decoration: none;
    background-color: #545454;
    cursor: pointer;
    z-index: 1000;
}
.disclosureleft{
    font-size: 16px;
    color: #f2f2f2;
    pointer-events: none;
    margin: 0;
}