.textbtn {
  background-color: #ffffff;
  border: 1px solid #dadada ;
  border-radius: 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  @include regular;
  font-weight: 400;
  color: $Anthracite;
  height: 35px;
  padding:0 10px 0 10px;
  &:hover {
    border-color: $theme;
  }
  &:active {
    background-color: $theme;
    color: #ffffff;
    border-color: none;
    outline: none;
  }
}
