.textbtn {
  background-color: #ffffff;
  border: 1px solid $Slate_Grey;
  border-radius: 1px;
  @include ShadowM;
  @include regular;
  font-weight: 400;
  color: $Anthracite;
  height: 35px;
  padding: 0 10px 0 10px;
  &:focus {
    border-color: $theme;
  }
  &:active {
    background-color: $theme;
    color: #ffffff;
    border-color: none;
    outline: none;
  }
}

.stackbutton {
  .textbtn {
    margin-right: 20px;
  }
}
