th,td{ 
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }
  th{
    border-left: 1px solid #dadada;
    font-weight: normal;
    color:#737373;
    height:35px;
  }
  td{
    height: 50px;
    vertical-align: middle;
  }
  button {
    background: #fff;
    border: none;
    color: #969696;
    border: 1px solid #e6e6e6;
    padding: 7px 11px; 
    margin: 0 5px;
    border-radius: 1px;
    box-shadow: 0 0 2px 0px #eae7e7; 
    width:200px;

}
.icon{
  font-size:24px;
  width:35px;
  padding-left:10px;
}
th.namecolumn{
  padding-left:10px;
}