<p-table id="test" [value]="trucklistdata">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:140px">Name</th>
      <th>Serial No.</th>
      <th style="width: 360px">Action <i class="icon icon-tablestrong tablefiltericon"></i></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-truck>
    <tr>
      <td>{{truck.truckName}}</td>
      <td>{{truck.serialNumber}}</td>
      <td>
        <div class="tablebtnHolder">
          <button *ngIf="truck.openWorkshopOrder" [routerLink]="['/editorder/',truck.truckName,truck.serialNumber, truck.shipToPartyNo]">Open Workshop Order</button>
          <button id="createorderBtn" *ngIf="!truck.openWorkshopOrder"
            [routerLink]="['/createorder/',truck.truckName,truck.serialNumber, truck.shipToPartyNo]">
            Create Workshop order
          </button>
          <button>Create Service Report</button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
