<p-table [value]="trucklistdata" >
    <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Serial No.</th>
          <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-truck>
      <tr>
        <td>{{truck.truckName}}</td>
        <td>{{truck.serialNumber}}</td>
        <td>
          <button *ngIf="truck.openWorkshopOrder =='true'">Open Workshop Order</button>
          <button *ngIf="truck.openWorkshopOrder =='false'" [routerLink]="['/createorder/',truck.serialNumber, truck.shipToPartyNo ]">
            Create Workshop order
          </button>
          <button>Create Service Report</button>
        </td>
      </tr>
    </ng-template>
  </p-table>