<div class="truckdetail">
  <div class="containerspace">
    <div class="truckDetailSection">
      <div class="leftTruckimg">
        <img src="assets/images/e_rx_60_35_m.png">
      </div>
      <div class="RightTruckDetail">
        <label class="truckname">{{workshoporderForm?.controls.truckName.value}}</label>
        <ul class="TruckDetai">
          <li><span>Serial No:</span><label><label>{{paramObj.serialNumber}}</label></label></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="containerspace">
  <h3 class="orderTitle"> {{ editOrderView ? "Edit"  : "Create"}} Workshop order</h3>
  <form *ngIf="workshoporderForm" [formGroup]="workshoporderForm">
    <div class="workorderform">
      <div class="form-group">
        <label>Author:</label>
        <span>{{workshoporderForm.controls.author.value}}</span>
      </div>
      <div class="form-group">
        <label>Reporter:</label>
        <input id="reporter" formControlName="reporter" type="text" />
      </div>
      <div class="form-group">
        <label>Creation Date:</label>
        <span>{{workshoporderForm.controls.creationDate.value}}</span>
      </div>
      <div class="form-group" *ngIf="editOrderView">
        <label >Number:</label>
        <span>{{workshoporderForm.controls.workshopOrderNumber.value}}</span>
      </div>
      <div class="form-group" *ngIf="editOrderView">

        <label>Priority:</label>
        <div class="radiogroupBtn">
          <input id="3" [value]=3 formControlName="priority" type="radio" />
          <label for="3">3</label>
          <input id="2" [value]=2 formControlName="priority" type="radio" />
          <label for="2">2</label>
          <input id="1" [value]=1 formControlName="priority" type="radio" />
          <label for="1">1</label>
        </div>
      </div>
      <div class="form-group" *ngIf = "workshoporderForm.controls.workStatus.value === 'INPROGRESS'">
      <label>Truck Operating Hours:</label>
      <input id="operatinghours" formControlName="operatinghours" type="text" />
      </div> 
      <div class="form-group" >
        <label>Workshop order description:</label>
        <textarea id="workshopOrderDescription" cols="60" rows="8" maxlength="2000"
          formControlName="workshopOrderDescription" placeholder="Please enter a short description here"></textarea>
      </div>
      <div class="form-group" *ngIf = "workshoporderForm.controls.workStatus.value === 'INPROGRESS'">
          <label>Repair description:</label>
          <textarea id="repairDescription" cols="60" rows="8" maxlength="2000"
            formControlName="repairDescription" placeholder="Please enter a short description here"></textarea>
        </div>
      <div class="form-group">
        <label>Out of order:</label>
        <input id="name" formControlName="outOfOrder" name="outOfOrder" type="checkbox">
      </div>
      <div class="form-group buttonholder" *ngIf="!editOrderView">
        <button [disabled]="!workshoporderForm.valid" (click)="submitform(editOrderView)"
          class="btn tmeBtn">Create</button>
        <button type="button" class="btn cnl" [routerLink]="['/trucklist/']">Cancel</button>
      </div>
      <div class="form-group buttonholder" *ngIf="editOrderView"> 
        <button [disabled]="!workshoporderForm.valid" (click)="submitform(editOrderView)" class="btn tmeBtn">Save
          Changes</button>
        <button type="button" class="btn cnl" (click)="discard()">Discard Changes</button> 
        <button *ngIf="workshoporderForm.controls.workStatus.value === 'WAITING'" type="button" class="btn del" (click)="deleteform()">Reject Workshop Order</button>
      </div>
    </div>
  </form>
</div>