<div class="containerspace">

  <h3 class="orderTitle">Create Workshop order</h3>
  <form #heroForm="ngForm">
    <div class="workorderform">
      <div class="form-group">
        <label>Author:</label>
        <span>{{workshoporder.author}}</span>
      </div>

      <div class="form-group">
        <label>Reporter:</label>
        <input id="reporter"  required  [(ngModel)]="workshoporder.reporter" name="reporter"  type="text" />
      </div>

      <div class="form-group">
        <label>Creation Date:</label>
        <span>{{workshoporder.date | date}}</span>
      </div>

      <div class="form-group">
        <label>Work order Number:</label>
        <span>{{workshoporder.number}}</span>
      </div>


      <div class="form-group">
        <label>Work order Description:</label>
        <textarea  id="description"  required  [(ngModel)]="workshoporder.description" name="description"  cols="59" rows="6"></textarea>
      </div>
      <div class="form-group">
        <label >Out of Order:</label>
        <input id="name"  required  [(ngModel)]="workshoporder.outoforder" name="outoforder"  type="checkbox">
      </div>

      <div class="form-group buttonholder">
        <button (click)="submitform()" class="btn tmeBtn">Create</button>
        <button class="btn cnl">Cancel</button>
      </div>
    </div>
  </form>
</div>