<div class="truckdetail">
    <div class="containerspace">
  <img src="assets/images/e_rx_60_35_m.png">
</div>
</div>
<div class="containerspace">
  <h3 class="orderTitle">Create Workshop order</h3>
  <form #heroForm="ngForm">
    <div class="workorderform">
      <div class="form-group">
        <label>Author:</label>
        <span>{{workshoporder.author}}</span>
      </div>
      <div class="form-group">
        <label>Reporter:</label>
        <input id="reporter"  required  [(ngModel)]="workshoporder.reporter" name="reporter"  type="text" />
      </div>
      <div class="form-group">
        <label>Creation Date:</label>
        <span>{{workshoporder.creationDate | date : 'dd.mm.yyyy'}}</span>
      </div>
      <div class="form-group">
        <label>Work order Number:</label>
        <span>{{workshoporder.workshopOrderNumber}}</span>
      </div>
      <div class="form-group">
        <label>Work order Description:</label>
        <textarea  id="workshopOrderDescription"  required  [(ngModel)]="workshoporder.workshopOrderDescription" name="workshopOrderDescription"  cols="59" rows="6"></textarea>
      </div>
      <div class="form-group">
        <label >Out of Order:</label>
        <input id="name"  required  [(ngModel)]="workshoporder.outOfOrder" name="outOfOrder"  type="checkbox">
      </div>
      <div class="form-group buttonholder">
        <button #name (click)="submitform()" class="btn tmeBtn">Create</button>
        <button type="button" class="btn cnl" [routerLink]="['/trucklist/']">Cancel</button>
      </div>
    </div>
  </form>
</div>


<p-toast ></p-toast>