<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serial No.</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let truckdata of trucklistdata">
        <td> {{truckdata.name}}</td>
        <td> {{truckdata.serialNumber}}</td>
        <td  class="Cbutton">
          
          <button *ngIf = "truckdata.isWorkOrderOpen =='true'">Open Workshop Order</button>
          <button *ngIf = "truckdata.isWorkOrderOpen =='false'" (click)='getworkshopordernumber()'>Create Workshop order</button>
          <button>Create Service Report</button>
        </td>  
      </tr>
    </tbody>
 
</table>