/*
 * This file has been created by Ergosign GmbH - All rights reserved - http://www.ergosign.de
 * DO NOT ALTER OR REMOVE THIS COPYRIGHT NOTICE OR THIS FILE HEADER.
 *
 * This file and the code contained in it are subject to the agreed contractual terms and conditions,
 * in particular with regard to resale and publication.
 */
//
//text-button
//
//text-button description text
//
//Markup: text-button.hbs
//
//.disabled - disabled state
//.text-button--secondary - secondary state
//
//generatePseudoStates: true
//
//Styleguide controls.buttons.text-button
//

$text-button-height: 35px;
$text-button-width: 113px;

.text-button {
  background-color: $color-white;
  border: 1px solid $color-still-slate-grey;
  @extend .font-m-sb;
  color: $color-still-anthracite;
  @extend .shadow-m;
  padding: 0 10px;
  height: $text-button-height;
  outline: none;
    // width: $text-button-width;

  &:disabled {
    opacity: .5;
  }
  &:active {
    box-shadow: none;
    
  }
  &:focus {
    border: 1px solid $color-still-orange;
    outline: none;
  }
  &--secondary {
    border: 1px solid transparent;
  }
  &--call-to-action {
      background-color: $color-still-orange;
      color: $color-white;
      &:active {
          background-color: $color-still-dark-orange;
          color: $color-still-cloud-grey;
      }
      &:focus {
          //@TODO:  Define styles for focus state
      }
  }
}


.stackbutton {
  .text-button {
    margin-right: 20px;
  }
}
