<div class="editworkshop--container">
  <div class="waiting">
    <div class="editworkshop--header">
      <h4 class="headline">Waiting</h4>
      <span class="subheadline"><i></i> 5 Workshop Orders Waiting</span>
    </div>
    <div class="editworkshop--body">
      <table class="table">
        <thead>
          <th>New</th>
          <th>Name</th>
          <th>Order Number</th>
          <th>Creation Date</th>
          <th>Priority <i class="icon icon-disclosuredown"></i><i class="icon icon-tablestrong tablefiltericon"></i>
          </th>
        </thead>
      </table>
      <div class="editworkshop--content">
        <ul class="waitingList">
          <li>
            <div class="waitingList--left__skew">
              <figure>
                <img src="assets/images/e_rx_60_35_m.png">
              </figure>
              <span class="truckName">GM 45 MX-X</span>
            </div>
            <div class="waitingList--right">
              <div class="waitingList--right--top">
                <span class="orderNumber">Order 0728</span>
                <span class="orderdate">08.04.2018</span>
                <span class="priorityval">1</span>
              </div>
              <div class="waitingList--right--bottom">
                <span><i class="icon icon-disclosureright"></i>Controls</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class=" inprogress"></div>

</div>