@import "../../../../assets/styles/abstracts/variable";
@import "../../../../assets/styles/abstracts/mixins";

// variable
$slotheader: #fafafa;

.editworkshop--container {
  display: flex;
  height: 100%;
}

.waiting,
.inprogress {
  flex: 1;
  min-height: 100%;

  .editworkshop--header {
    padding: 25px 15px 10px 15px;
    border-bottom: 1px solid $border;
    .headline {
      font-weight: 500;
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    .subheadline {
      color: $fontL;
      color: #bfbfbf;
      font-size: 13px;
      font-weight: 200;
      > i {
        font-size: 15px;
        color: #bfbfbf;
        margin: -3px 4px 0 0;
      }
    }
  }
}

.waitingList--action--icon{
  float: right;
  color: $fontL;
  i{
    margin: 0 0px 0 5px;
  }
}
.waiting {
  display: flex;
  flex-flow: column;
  .waitingList--left__skew {
    height: 78px; 
}
}

.editworkshop--body {
  height: 100%;
  overflow: auto;
  padding: 0 0 44px  0;
  .table {
    thead th {
      border-top: none;
      font-size: 13px;

      border-bottom: 1px solid $border;
      color: $fontL;
      .tablefiltericon {
        float: right;
      }
    }
  }
}

.editworkshop--content {
  padding: 0 0 10px 0;
  height: calc(100% - 56px);
  overflow: auto;
  display: flex;
  width: 100%;
  float:left;
}

.waitingList {
  width: 100%;
  float:left;
  li {
    flex: 0 0 100%;
    margin: 0px 0;
    padding: 5px 10px 5px 25px;
    float: left;
    min-width: 100%;
    flex-flow: row-reverse wrap; 
    cursor: pointer;
    // display: flex;
    &:last-child{
      margin-bottom: 20px;
    }
    &:hover , &.active{
      background: #fff7f3;
    }
    &.active{
      .waitingList--container{
        border-color: #ff6700;
      }
    }

    .waitingList--container {
      box-shadow: 0 0 2px 0px $border;
      border: 1px solid $border;
      // min-height: 90px;
      overflow: hidden;
      flex: 0 0 100%;
      background: #fff;
      width: 100%;
      float:left;
    
    }
  }
}

.waitingList--left__skew {
  width: 170px;
  height: 100%;
  display: flex;
  -webkit-transform: skew(-35deg);
  transform: skew(-35deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  border-right: 1px solid $border;
  text-decoration: none;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  float: left;
  left: -70px;
  position: relative;
  text-align: left;
  padding: 15px 0 0 50px;
  > * {
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
  }

  figure {
    width: 35px;
    img {
      width: 100%;
    }
  }

  .truckName {
    color: #000;
    font-size: 13px;
    white-space: nowrap;
    margin: 5px 0 0 16px;
  }
}

.waitingList--right {
  background: #fafafa;
  height: 100%;
  float: left;
  width: calc(100% - 60px);
  margin: 0 0 0 -110px;
  padding: 0 0 0 65px;

  .waitingList--right--top {
    border-bottom: 1px solid $border;
    padding: 13px 9px 13px 40px;
    color: $fontL;
    font-size: 13px;
  }
  span.orderNumber {
    float: left;
    margin: 0 30px 0 0;
    width: 150px;
  }
}
.priorityval {
  float: right;
  border: 1px solid #969696;
  padding: 1px 0px;
  border-radius: 3px;
  height: 17px;
  width: 17px;
  text-align: center;
}

.waitingList--right--bottom {
  padding: 10px 15px;

  span {
    color: $fontL;
    font-size: 13px;
    opacity: 0.3;
    > i {
      color: $fontR;
      font-size: 15px;
      margin: 0 9px 0 0;
    }
  }
}

/*Inprogress*/

.inprogress {
  border-left: 1px solid $border;
  .editworkshop--body,
  .editworkshop--content {
    // overflow: visible;
  }
  .editworkshop--content{
    height: auto;
  }

  .editworkshop--body { 
    height: calc(100% - 127px); 
    padding: 0;
  }
  .waitingList--left__skew {
    left: 0;
    padding: 12px 10px 10px 41px;
    margin: 0 10px 0 -56px;
    width: auto;
  }
}

.inprogress--center {
  line-height: 16px;
  font-size: 12px;
  color: $fontL;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

.inprogress--right {
  float: right;
  margin-left: auto;
  padding: 22px 10px 0 0;
  font-size: 12px;
  > i{
    margin: 2px 5px 0 0;
    font-size: 13px;
  }
}
.inprogressList {
  display: inline-block;
  width: 100%;
  padding: 37px 15px 0px 15px;
 
  > li {
    float: left;
    width: calc(50% - 10px);
    margin-bottom: 20px;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
}

slot {
  display: flex;
  height: 165px;
}

.assignslot--label {
  text-align: center;
  display: none;
  color: $theme;
  i{
    width:100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.slot--name {
  color: $fontLighter;
  font-weight: 100;
  font-size: 13px;
  @include regular();
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

.slot--container {
  width: 100%;
  border: 1px solid $border; 
  box-shadow: 0 0 4px 2px $border;
}
.slot--free {
  color: $fontLighter;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: $bgLight;
  box-shadow: none;
}
.slot--header {
  float: left;
  width: 100%;
  overflow: hidden;
  display: flex;
  background: $slotheader;
  border-bottom: 1px solid $border;
  color: $fontL;
}

.slot-middle{
  float: left;
    width: 100%;
    font-size: 13px;
    color: $fontL;
    padding: 10px 10px;
}
.slot-bottom{
  float: left;
    width: 100%;
    font-size: 13px;
    color: $fontL;
    padding: 20px 10px 10px 10px;

    i{
      font-size: 17px;
      float: left;
      margin: 4px 0 0 0;
  }
}

input.dateSelction {
  margin: 0 0 0 10px;
  padding: 4px 8px;
  border: 1px solid $border;
}
label.cotrl {
  margin: 6px 0 0 0;
}

.addon{
  float: right;
  li{
    float: left;
    padding: 4px 4px;
    margin: 0 0 0 5px;
    &.bordered{
        border: 1px solid #ccc;
        border-radius: 3px;
    }
  }
}

.freeSlot__highlight{
  .slot--free{
    border-color: $theme;
    cursor: pointer;
  }
  .freeslot--label{
    display: none;
  }
  .assignslot--label{
    display: block;
  }
}

/*Need to remove */
.slot--body, .icon-config{
  opacity: 0;
}