<div class="editworkshop--container">
  <div class="waiting">
    <div class="editworkshop--header">
      <h4 class="headline">Waiting</h4>
      <span class="subheadline"><i class="icon icon-creditcard"></i> {{waitingWorkshopOrder?.length}} Workshop Orders Waiting</span>
    </div>
    <div class="editworkshop--body">
      <table class="table">
        <thead>
          <th style="width: 70px"> </th>
          <th style="width: 122px">Name</th>
          <th style="width: 174px">Workshop order number</th>
          <th style="width: 170px">Creation date</th>
          <th class="text-right">Priority <i class="icon icon-disclosuredown"></i>
            <!-- <i class="icon icon-tablestrong tablefiltericon"></i> -->
          </th>
        </thead>
      </table>
      <div class="editworkshop--content">
        <ul class="waitingList">
          <li *ngFor="let order of waitingWorkshopOrder">
            <div routerLink="/editorder/{{order.truckName}}/{{order.serialNumber}}/{{order.shipToPartyNo}}" class="waitingList--container">
              <div class="waitingList--left__skew">
                <figure>
                  <img src="assets/images/e_rx_60_35_m.png">
                </figure>
                <span class="truckName">{{order.truckName}}</span>
              </div>
              <div class="waitingList--right">
                <div class="waitingList--right--top">
                  <span class="orderNumber">Order {{order.workshopOrderNumber}}</span>
                  <span class="orderdate">{{order.createdDate | date : 'dd.MM.yyyy'}}</span>
                  <span class="priorityval">{{order.priority}}</span>
                </div>
                <div class="waitingList--right--bottom">
                  <span><i class="icon icon-disclosureright"></i>Controls</span>
                </div>
              </div>
            </div>
          </li>

          
        </ul>
      </div>
    </div>
  </div>
  <div class=" inprogress"></div>

</div>