.toastr{
    font-family:"Helvetica Neue", Arial, sans-serif;
    min-width: 400px;
    margin-left: -125px;
    background-color: #f2f2f2;
    color: #404040;
    border:1px solid #404040;
    border-top: 0px;
    border-right: 0px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    margin:726px 0 0 500px;
    font-size: 14px;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.3); */
  }