// COLOR

$fontL: #737373;
$fontR: #545454;
$fontLighter: #bfbfbf;
$border: #dbdbdb;
$bgLight: #f2f2f2;
$theme: #ff6700;

$Midnight_Black: #1a1a1a;
$Dark_Grey: #404040;
$Ash_Grey: #4d4d4d;
$Slate_Grey: #dadada;
$Wolf_Grey: #737373;
$STILL_Grey: #969696;
$Fog_Grey: #bfbfbf;
$Anthracite: #545454;
