<workshop-header></workshop-header> 
<div class="maincontainer">
    <div class="sidebar">
        <workshop-sidebar></workshop-sidebar>
    </div>
    <div class="maincontent">
        <router-outlet></router-outlet>  

        <p-confirmDialog #cd header="Reject  Workshop Order" icon="pi pi-exclamation-triangle">
                <p-footer>
                    <div class="footer--modal">
                        <a (click)="cd.reject()"><i class="icon icon-trash"></i>Reject</a>
                        <a (click)="cd.accept()"><i class="icon icon-delete"></i>Cancel</a>
                    </div>
                </p-footer>
        </p-confirmDialog>
    </div>
</div> 
<!-- <workshop-footer></workshop-footer> -->


