<workshop-header></workshop-header>

<div class="maincontainer">
    <div class="sidebar">
        <workshop-sidebar></workshop-sidebar>
    </div>
    <div class="maincontent">
        <router-outlet></router-outlet>

        <p-confirmDialog  header="Confirmation" icon="pi pi-exclamation-triangle">
                <p-footer>
                    <div class="footer--modal">
                        <a (click)="cd.accept()" ><i class="icon icon-right "></i>Continue</a>
                    </div>
                </p-footer>
            </p-confirmDialog>
    </div>
</div>

<!-- <workshop-footer></workshop-footer> -->


