.maincontainer{
    float: right;
    width: calc( 100% - 60px);
    margin: 49px 0 0 0;
}

.sidebar{
    float: left;
    width: 45px;
    background: #ececec;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    border-right: 1px solid #ccc;
}

.maincontent{
    float: left;
    width: calc( 100% - 45px);
    position: fixed;
    height: calc( 100% - 80px);
    overflow: scroll;
    top: 48px; 
    right: 0;
}

workshop-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
workshop-footer {
    position: fixed;
    bottom: 0;
    left: 45px;
    height: 50px;
    right: 0;
    background: #f2f2f2;
    border-top: 1px solid #ccc;
    padding: 0 10px;
}